* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 50px);
    grid-auto-columns: 200px;
    grid-auto-rows: 50px;
    grid-gap: 10px;
    background-color: brown;
}
.grid-item {
    grid: 1;
    background-color: coral;
    grid-column-start: 1;
    grid-column-end: 3;
}