.div1 {
    width: 280px;
    height: 100px;
    background-color: brown;
    margin: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}  

.div2 {
    width: 280px;
    height: 100px;
    background-color: coral;
    margin: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.div3 {
    width: 280px;
    height: 100px;
    background-color: darkblue;
    margin: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.filha {
    width: 200px;
    height: 90px;
    background-color: yellow;
}