.container{
  max-width: 380px;
  min-height: 20px;
  display: flex;
  border: 1px solid black;
  flex-flow: row wrap;
  div{
    font-size: 1.5rem;
    text-align: center;
    background: tomato;
    margin: 5px;
  }
}
