.div1{
  width: 200px;
  height: 200px;
  background-color: red;
  margin: 10px;
  /* border: 5px solid #000000; */
  /* border-top: 5px solid #000000;
  border-bottom: 5px solid #000000;
  border-left: 5px solid #a7a4a4;
  border-right: 5px solid #a7a4a4; */
  border-width: 5px;
  border-style: solid;
  border-color: #000000;
  border-radius: 50%;

}

.div2{
  width: 200px;
  height: 200px;
  background-color: yellow;
  margin: 10px;
}
