@use "sass:string";
@use "sass:math";
@use "sass:list";

$teste: 'string de teste';
$number: 2.555;
$list: (1px 2px 3px 4px);

// @debug string.quote(Roboto); // Coloca minha string entre aspas duplas
// @debug string.length($teste);

// @debug string.to-upper-case($teste);
// @debug string.to-lower-case($teste);

// @debug string.unique-id();

// @debug math.ceil($number);
// @debug math.floor($number);
// @debug math.max(10, 40, 50, 80, 100);
// @debug math.min(10, 40, 50, 80, 100);

@debug list.length($list);
@debug list.separator($list);
@debug list.nth($list, 3);
