button {
    width: 100px;
    color: #ffffff;
    border: none;
    background-color: black;
}
button:disabled {
    color: #000000;
    background-color: rgb(243, 208, 12);
}
a:link {
    color: black;
}
a:visited {
    color: red;
}
a:hover {
    color: yellow;
}
a:active {
    color: maroon;
}
span:first-child {
    color: red;
}
li {
    color: salmon;
}
/* li:first-child {
    color: springgreen;
} */
li:last-child {
    color: springgreen;
}

table {
    width: 100%;
}
table thead th {
    text-align: center;
}
table tbody tr td {
    text-align: center;
}
.table-zebra {
    background-color: tan;
}
tr:nth-child(2n) {
    background-color: tan;
}