button::after {
    content: " Clique neste botão para ir a página de vendas.";
    color: red;
}
p {
    color: white;
    background-color: blue;
}
/* p::after {
    content: " Observe essa mensagem em amarelo também";
    background-color: yellow;
    color: black;
} */
p::before {
    content: " Observe essa mensagem em amarelo também";
    background-color: yellow;
    color: black;
}